<h1>Edit Recipe</h1>

<div class="">
  <div class="">
    <p>Guidelines for recipes:</p>
    <ul>
      <li>Make sure the recipe is appropriate.</li>
      <li>Smile when you type.</li>
    </ul>
  </div>
  <div class="">
    <%= render partial: 'form', locals: { recipe: @recipe } %>
  </div>
</div>